* {
  padding: 0;
  margin: 0;
}

body {
  background-color: beige;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  width: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.container h3 {
  padding: 10px;
}

#add-btn,
#next-btn {
  background: linear-gradient(45deg, #fff3a8, #80b3ff);
  border-style: solid;
  border-radius: 50px;
  border-color: black;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline;
  cursor: pointer;
  text-align: center;
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  transition: 0.6s;
}

#add-btn {
  margin-bottom: 15px;
  margin-top: 15px;
}
#add-btn:hover,
#next-btn:hover {
  opacity: 0.7;
}

.pokedex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.pokedex .btn {
  cursor: pointer;
  transition: 0.6s;
  background: linear-gradient(45deg, #fff3a8, #80b3ff);
  border-style: solid;
  border-radius: 50px;
  border-color: black;
  color: black;
  padding: 10px;
}
.pokedex .btn:hover {
  opacity: 0.7;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px;
}

.nav .navbar-brand,
.nav-link {
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s;
  background: linear-gradient(45deg, #fff3a8, #80b3ff);
  border-style: solid;
  border-radius: 50px;
  border-color: black;
  color: black;
  padding: 10px;
  margin-left: 10px;
}

.nav .navbar-brand:hover,
.nav-link:hover {
  opacity: 0.7;
}
